#mainbar {
  width: 100vw;
  height: 100px;
  background-color: #a6dcef;
  display: flex;
  align-items: center;
  opacity: 50%;
  position: fixed;
  z-index: 3;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  transition: 0.3s;
}

#mainbar:hover, #filterbar:hover {
  opacity: 100%;
}

#mainbar > * {
  margin: 0px 30px 0px 30px;
}

#filterbar {
  width: 100vw;
  position: fixed;
  height: 30px;
  padding-left: 10px;
  top: 100px;
  z-index: 2;
  opacity: 50%;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}

.title {
  display: none;
}

#search-form {
  width: 100%;
  padding: 5px 0 0 0;
}

#search-form input {
  height: 30px;
  width: 70%;
  max-width: 600px;
  font-size: 18px;
  vertical-align: top;
}

#search-form button {
  margin-left: 5px;
  width: 40px;
  height: 36px;
  vertical-align: top;
}

#map {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.margin-right {
  margin-right: 5px;
}

.v-spacing {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

input, textarea, select {
  font-family: 'Quicksand', 'serif';
}

/*
Modal Styling
*/
.popup-content {
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
  width: 70%;
  padding: 30px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: collapse;
}

th {
  background-color: #a6dcef;
}

tr, td, th {
  border: 1px solid rgb(0, 0, 0);
}

tr:nth-child(even) {
  background-color: #e9e9e9;
}

table, tbody .span-width {
  width: 100%;
}

tbody {
  overflow-y: auto;
  display: block;
  max-height: 400px;
}

.modal .content textarea {
  resize: none;
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.modal .content input[type='email'] {
  width: 100%;
  font-size: 16px;
  height: 30px;
}

.modal .content input[type='number'] {
  font-size: 16px;
  height: 30px;
}

.modal .content label {
  margin-top: 10px;
}

.modal .actions .button {
  font-size: 16px;
  min-width: 60px;
  height: 30px;
}

@media only screen and (min-width: 700px) {
  /* Desktop */
  .title {
    display: block;
  }
}